{{#extends "base"}}

{{#block "content"}}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Breed</th>
            <th>Description</th>
            <th>Age</th>
            <th>Problems</th>
            <th>HDB Approved</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        {{#each allPets}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.breed}}</td>
            <td>{{this.description}}</td>
            <td>{{this.age}}</td>
            <td>{{this.problems}}</td>
            <td>{{this.hdb}}</td>
            <td>{{this.tags}}</td>
            <td><a href="/update/{{this._id}}" class="btn btn-sm btn-primary">Edit</a></td>
            <td><a href="/delete/{{this._id}}" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}